.container{
    display: flex;
}
.card{
     width: 200px;
     height: 400px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
    box-shadow: 2px 2px 8px black;
    border-radius: 5px;
    transition: 1s;
    
}
img {
    width: 100%;
    border-radius: 5px 5px 0 0;
}
.desc{
    padding: 0 2px 0 2px;
}
.card:hover{
    box-shadow: 4px 8px 30px black;
    border: 6px solid rgb(149, 245, 149);
    background-color: cyan;

}
h1:hover{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-style: unset;
    color: chartreuse;
}
button{
    border-radius: 50px;
    color: rgb(93, 223, 173);
    background-color: darkgoldenrod;
    box-shadow: 2px 2px 8px black;
}
button:hover{
    border: 6px  ridge rgb(78, 70, 29)
}