/* Q1 */
.box {
    height: 150px;
    width: 300px;
    background-color: grey;
    border: 5px dotted black;

    margin-top: 20px;
    margin-right: 1em;
    margin-bottom: 40px;
    margin-left: 2em;

    padding: 1em;
}

/* Q2  */
.circle-container {
    display: flex;        
    gap: 20px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;   
}

/* Q3 */
.tech-list li {
    display: inline;      
    margin-right: 15px;
}