div {
    height: 200px;
    width: 500px;
    background-color: pink;
    /* border-width: 5px;
    border-style:solid;
    border-color: black; */
    border: 5px solid black;
    border-radius: 10px;
    /* margin-bottom: 20px; */
    margin: 10px 20px 30px 40px ;
}

h1 {
    /* border-width: 2px;
    border-style:dashed ;
    border-color: green;
 */
 border: 2px dashed green;
}

button {
    border: 2px solid black;
     border-radius: 10px; 
    /* padding-left: 25px;
    padding-right:25px; */
    padding: 10px 25px;
    background-color: yellow;

}
